*{
    box-sizing: border-box;
}
body {

}
.title{
    width : 100%;
}
.link{
    text-decoration :none;
    color : black;
    border-right: 1px solid gray;
    padding : 2px;
}
.sub_menu{
}
.asian {

    display : none;
}
.soup {

    display : none;
}
.image {

    background: orange;
    height : 100px;
    width : 150px;
}
.box {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width : 100%;
    object-fit :cover;
    margin-bottom : 5px;


}
.left{
    text-align : center;
    height : 100px;
    width : 150px;
    background: lightblue;
}
.storeName{
    font-size: 20px;
    font-color :black;
    font-weight: bold;
}
a{
    text-decoration: none;
}
div {
  border-radius: 5px;
}
img {
  border-radius: 5px;
}
@media screen and (min-width: 1024px) {
    .menu{
    }
}
@media screen and (max-width: 650px) {
    .menu{

    }
    .footerBox1 {

    }
    .footerBox2 {

    }
}