/* reset 영역 */
a {
    text-decoration: none;
}

div {
    border-radius: 5px;
}

img {
    border-radius: 5px;
}

/* 본문 스타일 영역 */
.title {
    width: 100%;
}

.link {
    text-decoration: none;
    color: black;
    border-right: 1px solid gray;
    padding: 2px;
    box-sizing: border-box;
}

.image {
    background-color: orange;
    height: 100px;
    width: 150px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.detail {
    text-align: center;
    height: 100px;
    width: 150px;
    background-color: lightblue;
}

.storeName {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
